# Virtual environment
.venv/

# Raw dataset
data/raw/

# Generated processed data / embeddings
data/processed/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db